# Virtual Environment
venv/
myvenv/
env/
.env/
.venv/
ENV/
C:\Users\Jason\Desktop\skudetectionapp\cam1_FM002_FM003_caesar_soba_160125_220125.mp4
fastdup/fastdup_output
fastdup/images/default
fastdup/images
output_dataset/
cvat_dataset/
debug_images/