# Virtual Environment
venv/
myvenv/
env/
.env/
.venv/
ENV/
cam1_FM002_FM003_caesar_soba_160125_220125.mp4
fastdup/fastdup_output
fastdup/images/default
fastdup/images
output_dataset/
cvat_dataset/
debug_images/
generic_yolo_training_results/
Inferencing_1.mp4
cvat_dataset.zip
cvat_dataset_augmented_data_binary_classification.zip